@charset "UTF-8";
@font-face {
  font-family: 'futurabook';
  src: url("../fonts/futura_book_font-webfont.woff2") format("woff2"), url("../fonts/futura_book_font-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Conv_futuralightbt';
  src: url("../fonts/futuralightbt.eot");
  src: local("☺"), url("../fonts/futuralightbt.woff") format("woff"), url("../fonts/futuralightbt.ttf") format("truetype"), url("../fonts/futuralightbt.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Conv_futuramediumbt';
  src: url("../fonts/futuramediumbt.eot");
  src: local("☺"), url("../fonts/futuramediumbt.woff") format("woff"), url("../fonts/futuramediumbt.ttf") format("truetype"), url("../fonts/futuramediumbt.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Conv_FuturaMediumItalicfont';
  src: url("../fonts/FuturaMediumItalicfont.eot");
  src: local("☺"), url("../fonts/FuturaMediumItalicfont.woff") format("woff"), url("../fonts/FuturaMediumItalicfont.ttf") format("truetype"), url("../fonts/FuturaMediumItalicfont.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Conv_BaskervilleItalicBT';
  src: url("../fonts/BaskervilleItalicBT.eot");
  src: local("☺"), url("../fonts/BaskervilleItalicBT.woff") format("woff"), url("../fonts/BaskervilleItalicBT.ttf") format("truetype"), url("../fonts/BaskervilleItalicBT.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* Use the variables */
body {
  background-color: #ffffff;
  color: #666666;
  font-size: 18px;
  font-family: "futurabook" !important;
  font-weight: normal;
}

/* end the variables */
@media (min-width: 1440px) {
  .container {
    max-width: 1440px;
  }
}

/*###########################################################################
############################## header section ###############################*/
.top-header {
  background-color: #FAFAFA;
  height: 50px;
  position: fixed;
  width: 100%;
  z-index: 9999;
}

.top-header .top-header-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
}

.top-header .top-header-inner .contact-info {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.top-header .top-header-inner .contact-info a {
  font-size: 17px;
  color: #222221;
  letter-spacing: 0;
  line-height: 18px;
  font-family: "Conv_futuramediumbt";
  padding: 0 20px 0 0;
  text-decoration: none;
}

.top-header .top-header-inner .contact-info a i {
  margin-right: 8px;
}

.top-header .top-header-inner .contact-info a:last-child {
  padding: 0 0 0 0;
}

.top-header .top-header-inner .navigation-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.top-header .top-header-inner .navigation-link ul {
  margin: 0;
  padding: 0;
}

.top-header .top-header-inner .navigation-link ul li {
  display: inline-block;
  list-style: none;
}

.top-header .top-header-inner .navigation-link ul li a {
  display: block;
  padding: 0 15px;
  font-size: 17px;
  color: #222221;
  letter-spacing: 0;
  text-align: right;
  line-height: 18px;
  font-family: "Conv_futuramediumbt";
  border-right: 1px solid #CBCBCB;
}

.top-header .top-header-inner .navigation-link ul li:last-child a {
  border-right: 1px solid transparent;
}

.header {
  margin-top: 50px;
  position: relative;
}

.header .row-100 {
  width: 100%;
  margin: 0;
}

.header .row-100 .col-12 {
  padding: 0;
}

.header .navbar {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  display: block;
  padding: 0;
}

.header .navbar .navbar-brand {
  width: 200px;
  height: auto;
}

.header .navbar .navbar-brand img {
  width: 100%;
}

.header .navbar .navbar-toggler {
  color: #666666;
  padding: 0;
  outline: 0 !important;
}

.header .navbar .navbar-toggler .navbar-toggler-icon {
  background-color: #ffffff00;
  background-image: url("../../assets/images/menubar.png");
  background-repeat: no-repeat;
  background-size: contain;
  height: 26px;
  width: 26px;
}

.header .navbar .navbar-toggler {
  position: absolute;
  right: 15px;
  top: -40px;
}

.header .navbar .collapse1 {
  height: 100%;
  height: 100%;
}

.header .navbar .collapse1 .navbar-nav .nav-item .nav-link {
  color: #222221 !important;
  font-size: 14px;
  line-height: 24px;
  padding: 8px 12px;
  letter-spacing: 0.12;
  font-family: "futurabook";
}

.header .navbar .collapse1 .navbar-nav .nav-item .nav-link:hover {
  color: #222221;
}

.header .navbar .collapse1 .navbar-nav .nav-item .nav-link.active {
  color: #ED5C37 !important;
}

.header .navbar .collapse1 .navbar-nav .nav-btn .nav-link {
  display: block;
  background-color: #ED5C37;
  color: #ffffff;
  border-radius: 4px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.header .navbar .collapse1 .navbar-nav .nav-btn .nav-link:hover {
  background-color: #f2f2f2;
  color: #ED5C37;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.header .navbar .serach-form {
  width: 100%;
}

/*############################## Home section ###############################*/
.img-fluid {
  width: 100%;
}

.coming-soon-inner {
  background-image: url("../images/left.svg");
  background-position: bottom left;
  background-size: 80%;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  bottom: 0;
  height: 100%;
  width: 100%;
  min-height: 100%;
  z-index: 1;
}

.coming-soon-inner-2 {
  background-image: url("../images/right.svg");
  background-position: bottom right;
  background-size: 60%;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  width: 100%;
  min-height: 100%;
  position: absolute;
  height: 100%;
  width: 100%;
  min-height: 100%;
  z-index: 1;
  position: fixed;
  bottom: 0;
}

.middle-section {
  height: calc(100vh - 100px);
  min-height: calc(100vh - 100px);
}

.middle-section .coming-soon-section {
  background-image: url("../images/topright.svg");
  background-position: top right;
  background-repeat: no-repeat;
  background-size: 80%;
  background-color: #ffffff;
  min-height: 100vh;
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.middle-section .coming-soon-section .comming-soon-box {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  z-index: 2;
  position: relative;
}

.middle-section .coming-soon-section .comming-soon-box .logo-img {
  margin-bottom: 20px;
}

.middle-section .coming-soon-section .comming-soon-box .logo-img img {
  width: 143px;
  height: 161px;
  display: block;
}

.middle-section .coming-soon-section .comming-soon-box .coming-soon-title {
  padding-bottom: 30px;
  border-bottom: 1px solid #E8E8E8;
  width: 100%;
  margin-bottom: 50px;
}

.middle-section .coming-soon-section .comming-soon-box .coming-soon-title h2 {
  font-family: "futurabook";
  font-size: 40px;
  color: #222221;
  letter-spacing: 0;
  text-align: center;
  font-weight: 400;
  line-height: 48px;
}

.middle-section .coming-soon-section .comming-soon-box .coming-soon-content p {
  font-family: "futurabook";
  font-size: 20px;
  color: rgba(34, 34, 33, 0.5);
  letter-spacing: 0;
  text-align: center;
  line-height: 28px;
  margin-bottom: 20px;
}

.middle-section .coming-soon-section .comming-soon-box .coming-soon-content .form-group .form-control {
  height: 80px;
  font-size: 16px;
  color: #222221;
  letter-spacing: -0.14px;
  background-color: #ffffff;
  border: 1px solid #f2f2f2;
  -webkit-box-shadow: 0 14px 20px 0 rgba(0, 0, 0, 0.05);
          box-shadow: 0 14px 20px 0 rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  border-radius: 10px;
  padding-right: 150px;
}

.middle-section .coming-soon-section .comming-soon-box .coming-soon-content .form-group .form-control:focus {
  border: 1px solid #222221;
}

.middle-section .coming-soon-section .comming-soon-box .coming-soon-content .form-group .btn-subscribe {
  background: #FFC20F;
  border-radius: 10px;
  border-radius: 10px;
  font-size: 16px;
  font-family: "Conv_futuramediumbt";
  text-transform: uppercase;
  color: #222221;
  letter-spacing: -0.14px;
  position: absolute;
  right: 0;
  top: 0;
  margin: 10px;
  height: 59px;
  padding: 0;
  min-width: 125px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  line-height: 21px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.middle-section .coming-soon-section .comming-soon-box .coming-soon-content .form-group .btn-subscribe:hover {
  -webkit-box-shadow: 0 4px 7px 0 rgba(255, 194, 15, 0.44);
          box-shadow: 0 4px 7px 0 rgba(255, 194, 15, 0.44);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.middle-section .coming-soon-section .comming-soon-box .coming-soon-content .form-group span.error {
  padding: 5px 5px;
  display: block;
  font-size: 14px;
  color: #ff0000;
  font-family: "futurabook";
}

.middle-section .coming-soon-section .comming-soon-box .coming-soon-content .form-group-subscribe {
  position: relative;
}

.footer {
  background-color: transparent;
  position: relative;
  z-index: 9;
}

.footer .footer-copy {
  background-color: transparent;
  padding: 15px 0 15px 0;
  border-top: 1px solid #ffffff;
}

.footer .footer-copy .footer-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer .footer-copy .footer-content p {
  padding: 0 30px;
  margin: 0;
  font-size: 16px;
  color: #222221;
  letter-spacing: 0;
  text-align: center;
  line-height: 28px;
  font-family: "futurabook";
}

.footer .footer-copy .footer-content p a {
  font-size: 16px;
  color: #222221;
  letter-spacing: 0;
  text-align: center;
  line-height: 28px;
}

.footer .footer-copy .footer-content .border-right-yellow {
  border-right: 1px solid #00a550;
}

.modal-subscribed .modal-dialog {
  margin-top: 150px;
}

.modal-subscribed .modal-dialog .modal-header {
  border-bottom: 0;
}

.modal-subscribed .modal-dialog .modal-footer {
  border-top: 0;
}

.modal-subscribed .modal-dialog .modal-body .subscribed-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 30px 30px 40px 30px;
  text-align: center;
}

.modal-subscribed .modal-dialog .modal-body .subscribed-content .success-img {
  width: 70px;
  height: 70px;
  border-radius: 100%;
  border: 3px solid #5bb738;
  background-color: #5bb738;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 15px;
}

.modal-subscribed .modal-dialog .modal-body .subscribed-content .success-img img {
  width: 30px;
}

.modal-subscribed .modal-dialog .modal-body .subscribed-content h3 {
  color: #5bb738;
  font-family: "Conv_futuramediumbt";
  font-size: 28px;
  line-height: 36px;
  margin-bottom: 20px;
}

/*###########################################################################
############################## media query started ###############################
######################################################################################*/
@media (max-width: 767px) {
  .middle-section {
    min-height: 530px;
    height: calc(100% - 115px);
  }
  .middle-section .middle-inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
  }
  .middle-section .coming-soon-section {
    min-height: 100%;
  }
  .middle-section .coming-soon-section .comming-soon-box .logo-img img {
    width: 100px;
    height: auto;
    display: block;
  }
  .middle-section .coming-soon-section .comming-soon-box .coming-soon-title {
    padding-bottom: 30px;
    margin-bottom: 40px;
  }
  .middle-section .coming-soon-section .comming-soon-box .coming-soon-title h2 {
    font-size: 36px;
    line-height: 44px;
  }
  .middle-section .coming-soon-section .comming-soon-box .coming-soon-content .form-group .form-control {
    height: 70px;
  }
  .middle-section .coming-soon-section .comming-soon-box .coming-soon-content .form-group .btn-subscribe {
    height: 49px;
    font-size: 14px;
    min-width: 100px;
  }
  .modal-subscribed .modal-dialog {
    margin-top: 100px;
  }
  .footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .footer .footer-copy {
    padding: 15px 0 10px 0;
    width: 100%;
  }
  .footer .footer-copy .footer-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer .footer-copy .footer-content p {
    width: 100%;
    border: 0;
    font-size: 14px;
    margin: 0 0 5px 0;
  }
  .footer .footer-copy .footer-content .border-right-yellow {
    border: 0;
  }
}

/* Landscape */
/* Portrait and Landscape */
/* Portrait */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
  .header .navbar {
    background-color: #ffffff;
    z-index: 999;
  }
  .header .navbar .collapse1 {
    display: block;
  }
  .header .navbar .collapse1 .navbar-nav {
    display: inline-block;
    margin-left: 0 !important;
    padding-bottom: 30px;
  }
  .header .navbar .collapse1 .navbar-nav .nav-item .nav-link {
    font-size: 16px;
    line-height: 26px;
    padding: 8px 12px;
    font-weight: 500;
  }
  .footer .footer-copy .blog-list {
    text-align: center;
    margin-bottom: 10px;
  }
  .footer .footer-copy .copyright-text {
    margin-bottom: 10px;
  }
  .footer .footer-copy .social-media-section {
    text-align: center;
    margin-bottom: 10px;
  }
}

/* Landscape */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
  .header .navbar .collapse1 .navbar-nav .nav-item .nav-link {
    font-size: 12px;
    line-height: 22x;
    padding: 8px 10px;
    font-weight: 500;
  }
}

/* ----------- iPad Pro ----------- */
/* Portrait and Landscape */
/* Portrait */
@media only screen and (min-width: 1024px) and (max-height: 1366px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1.5) {
  .header .navbar .navbar-toggler {
    top: 15px;
  }
  #cd-shadow-layer {
    position: fixed;
    min-height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
    z-index: 2;
    display: none;
    z-index: 99999;
  }
  .sidenav-new-menu {
    height: 100%;
    min-height: 830px;
    width: 0;
    position: fixed;
    z-index: 1;
    right: 0;
    top: 0;
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    z-index: 999999;
    background-color: #ffffff;
    padding: 20px 0px !important;
    -ms-flex-preferred-size: auto;
        flex-basis: auto;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .sidenav-new-menu ul li {
    padding: 5px 20px;
  }
  .sidenav-new-menu ul li a {
    white-space: nowrap;
    font-size: 16px !important;
  }
  .width-menu {
    width: 40%;
    display: block !important;
  }
  .closebtn {
    display: block;
    color: #ED5C37;
    text-decoration: none;
  }
  .closebtn:hover {
    display: block;
    color: #ED5C37;
    text-decoration: none;
  }
  .sidenav-new-menu .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    display: block;
  }
  #main {
    -webkit-transition: margin-left .5s;
    transition: margin-left .5s;
    padding: 16px;
  }
}

.sidenav-new-menu .closebtn {
  display: none;
}

@media (max-width: 767px) {
  #cd-shadow-layer {
    position: fixed;
    min-height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
    z-index: 2;
    display: none;
    z-index: 99999;
  }
  .sidenav-new-menu {
    height: 100%;
    min-height: 830px;
    width: 0;
    position: fixed;
    z-index: 1;
    right: 0;
    top: 0;
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    z-index: 999999;
    background-color: #ffffff;
    padding: 20px 0px !important;
    -ms-flex-preferred-size: auto;
        flex-basis: auto;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .sidenav-new-menu ul li {
    padding: 0 20px;
  }
  .sidenav-new-menu ul li a {
    white-space: nowrap;
    font-size: 16px !important;
  }
  .width-menu {
    width: 70%;
    display: block !important;
  }
  .closebtn {
    display: block;
    color: #ED5C37;
    text-decoration: none;
  }
  .closebtn:hover {
    display: block;
    color: #ED5C37;
    text-decoration: none;
  }
  .sidenav-new-menu .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    display: block;
  }
  #main {
    -webkit-transition: margin-left .5s;
    transition: margin-left .5s;
    padding: 16px;
  }
}

/* Portrait */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
  #cd-shadow-layer {
    position: fixed;
    min-height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
    z-index: 2;
    display: none;
    z-index: 99999;
  }
  .sidenav-new-menu {
    height: 100%;
    min-height: 830px;
    width: 0;
    position: fixed;
    z-index: 1;
    right: 0;
    top: 0;
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    z-index: 999999;
    background-color: #ffffff;
    padding: 20px 0px !important;
    -ms-flex-preferred-size: auto;
        flex-basis: auto;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .sidenav-new-menu ul li {
    padding: 0 20px;
  }
  .sidenav-new-menu ul li a {
    white-space: nowrap;
    font-size: 16px !important;
  }
  .width-menu {
    width: 40%;
    display: block !important;
  }
  .closebtn {
    display: block;
    color: #ED5C37;
    text-decoration: none;
  }
  .closebtn:hover {
    display: block;
    color: #ED5C37;
    text-decoration: none;
  }
  .sidenav-new-menu .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    display: block;
  }
  #main {
    -webkit-transition: margin-left .5s;
    transition: margin-left .5s;
    padding: 16px;
  }
}
/*# sourceMappingURL=custom.css.map */