$bgcolor: #ffffff;
$textcolor: #666666;
$fontsize: 18px;
$bg-tp: #ffffff00;

// font family added



@font-face {
    font-family: 'futurabook';
    src: url('../fonts/futura_book_font-webfont.woff2') format('woff2'),
         url('../fonts/futura_book_font-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


@font-face {
	font-family: 'Conv_futuralightbt';
	src: url('../fonts/futuralightbt.eot');
	src: local('☺'), url('../fonts/futuralightbt.woff') format('woff'), url('../fonts/futuralightbt.ttf') format('truetype'), url('../fonts/futuralightbt.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}


@font-face {
	font-family: 'Conv_futuramediumbt';
	src: url('../fonts/futuramediumbt.eot');
	src: local('☺'), url('../fonts/futuramediumbt.woff') format('woff'), url('../fonts/futuramediumbt.ttf') format('truetype'), url('../fonts/futuramediumbt.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Conv_FuturaMediumItalicfont';
	src: url('../fonts/FuturaMediumItalicfont.eot');
	src: local('☺'), url('../fonts/FuturaMediumItalicfont.woff') format('woff'), url('../fonts/FuturaMediumItalicfont.ttf') format('truetype'), url('../fonts/FuturaMediumItalicfont.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Conv_BaskervilleItalicBT';
	src: url('../fonts/BaskervilleItalicBT.eot');
	src: local('☺'), url('../fonts/BaskervilleItalicBT.woff') format('woff'), url('../fonts/BaskervilleItalicBT.ttf') format('truetype'), url('../fonts/BaskervilleItalicBT.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

$futura-light: 'Conv_futuralightbt';
$futura-book: 'futurabook';
$futura-medium: 'Conv_futuramediumbt';
$futura-medium-italic: 'Conv_FuturaMediumItalicfont';
$basker-ville: 'Conv_BaskervilleItalicBT';



/* Use the variables */
body {
  background-color: $bgcolor;
  color: $textcolor;
  font-size: $fontsize;
  font-family: $futura-book !important;
  font-weight: normal;
}

$color-white: #ffffff; 
$hover: #ED5C37;

/* end the variables */

@media (min-width: 1440px)
{
    .container{ 
        max-width: 1440px;
    }
}



/*###########################################################################
############################## header section ###############################*/

.top-header {
    background-color: #FAFAFA;
    height: 50px;
    position: fixed;
    width: 100%;
    z-index: 9999;
    
    .top-header-inner{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;

        .contact-info {
            display: inline-flex;
            flex-wrap: wrap;
            a {
                font-size: 17px;
                color: #222221;
                letter-spacing: 0;
                line-height: 18px;
                font-family: $futura-medium;
                padding: 0 20px 0 0;
                text-decoration: none;
                i {
                    margin-right: 8px;
                }
                &:last-child {
                    padding: 0 0 0 0;
                }
            }
        }

        .navigation-link{
            display: flex;
            align-items: center;
            justify-content: flex-end;
            ul {
                margin: 0;
                padding: 0;
                li {
                    display: inline-block;
                    list-style: none;
                    a {
                        display: block;
                        padding: 0 15px;
                        font-size: 17px;
                        color: #222221;
                        letter-spacing: 0;
                        text-align: right;
                        line-height: 18px;
                        font-family: $futura-medium;
                        border-right: 1px solid #CBCBCB;
                       
                    }
                    &:last-child {
                        a {
                            border-right: 1px solid transparent;
                        }
                    }
                }
            }
        }
    }
}

.header{
    margin-top: 50px;
    position: relative;
    .row-100 {width: 100%; margin: 0;
    .col-12 {padding: 0;}
    
    }
    .navbar {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        display: block;
        padding: 0;
        
    

        .navbar-brand {
            width: 200px;
            height: auto;
            img {
                width: 100%;
            }
        }

        .navbar-toggler {
            color: $textcolor;
            padding: 0;
            outline: 0 !important;

            .navbar-toggler-icon {
                background-color: $bg-tp;
                background-image: url('../../assets/images/menubar.png');
                background-repeat: no-repeat;
                background-size: contain;
                height: 26px;
                width: 26px;
            }
        }
        .navbar-toggler{
            position: absolute;
            right: 15px;
            top: -40px;
        }
        .collapse1 {
            height: 100%;
            height: 100%;
            .navbar-nav { 
                .nav-item  {
                    .nav-link {
                        color: #222221 !important;
                        font-size: 14px;
                        line-height: 24px;
                        padding: 8px 12px;
                        letter-spacing: 0.12;
                        font-family: $futura-book;
                        &:hover {
                            color: #222221;
                        }
                    
                    }
                    .nav-link.active {
                        color: $hover !important;
                    }
                }
                .nav-btn {
                    .nav-link {
                    display: block;
                    background-color: #ED5C37;
                    color: #ffffff;
                    border-radius: 4px;
                    transition: all 0.3s ease-in-out;
                        &:hover {
                            background-color: #f2f2f2;
                            color: #ED5C37;
                            transition: all 0.3s ease-in-out;
                        }
                    }
                   
                }
            }
        }

        .serach-form{
            width: 100%;
        }
    }
}


/*############################## Home section ###############################*/

// helper class
.img-fluid {width: 100%;}


.coming-soon-inner{
    // content: '';
    background-image: url('../images/left.svg');
    background-position: bottom left;
    background-size: 80%;
    background-repeat: no-repeat;
    display: flex;
    position: fixed;
    bottom: 0;
    height: 100%; 
    width: 100%;
    min-height: 100%;
    z-index: 1;
}

.coming-soon-inner-2 {
    // content: '';
    background-image: url('../images/right.svg');
    background-position: bottom right;
    background-size: 60%;
    background-repeat: no-repeat;
    display: flex;
    height: 100%; 
    width: 100%;
    min-height:  100%;
    position: absolute;
    height: 100%; 
    width: 100%;
    min-height: 100%;
    z-index: 1;
     position: fixed;
    bottom: 0;

}




.middle-section-home {
    
}

// middle section start here

.middle-section{
  height: calc(100vh - 100px);
  min-height: calc(100vh - 100px);
    .coming-soon-section{
        background-image: url('../images/topright.svg');
        background-position: top right;
        background-repeat: no-repeat;
        background-size: 80%;
        background-color: #ffffff;
        min-height: 100vh;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        align-content: center;
   

   
        .comming-soon-box{
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            z-index: 2;
            position: relative;

            .logo-img {
                margin-bottom: 20px;
                img {
                    width: 143px;
                    height: 161px;
                    display: block;
                }
            }

            .coming-soon-title {
                padding-bottom: 30px;
                border-bottom: 1px solid #E8E8E8;
                width: 100%;
                margin-bottom: 50px;
                h2 {
                    font-family: $futura-book;
                    font-size: 40px;
                    color: #222221;
                    letter-spacing: 0;
                    text-align: center;
                    font-weight: 400;
                    line-height: 48px;
                }
            }

            .coming-soon-content  {
                p {
                    font-family: $futura-book;
                    font-size: 20px;
                    color: rgba(34,34,33,0.50);
                    letter-spacing: 0;
                    text-align: center;
                    line-height: 28px;
                    margin-bottom: 20px;
                }

                .form-group {
                    .form-control {
                        height: 80px;
                        font-size: 16px;
                        color: #222221;
                        letter-spacing: -0.14px;
                        background-color: #ffffff;
                        border: 1px solid #f2f2f2;
                        box-shadow: 0 14px 20px 0 rgba(0,0,0,0.05);
                        border-radius: 10px;
                        border-radius: 10px;
                        padding-right: 150px;

                        &:focus {
                            border: 1px solid #222221;
                        }
                    }

                    .btn-subscribe {
                        background: #FFC20F;
                      
                        border-radius: 10px;
                        border-radius: 10px;
                        font-size: 16px;
                        font-family: $futura-medium;
                        text-transform: uppercase;
                        color: #222221;
                        letter-spacing: -0.14px;
                        position: absolute;
                        right: 0;
                        top: 0;
                        margin: 10px;
                        height: 59px;
                        padding: 0;
                        min-width: 125px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        line-height: 21px;
                        transition: all 0.3s ease-in-out;
                        &:hover {
                            box-shadow: 0 4px 7px 0 rgba(255,194,15,0.44);
                            transition: all 0.3s ease-in-out;
                        }
                    }

                    span.error {
                        padding: 5px 5px;
                        display: block;
                        font-size: 14px;
                        color: #ff0000;
                        font-family: $futura-book;
                    }
                }
                .form-group-subscribe{
                    position: relative;

                }
            }
           
        }
    }
}

.footer {
    background-color: transparent;
    position: relative;
    z-index: 9;
 

    .footer-copy{
        background-color: transparent;
        padding: 15px 0 15px 0;
        border-top: 1px solid #ffffff;

        .footer-content{
            display: flex;
            align-items: center;
            justify-content: center;

            p {
                padding: 0 30px;
                margin: 0;
                
                font-size: 16px;
                color: #222221;
                letter-spacing: 0;
                text-align: center;
                line-height: 28px;
                font-family: $futura-book;
            

                a {
                    font-size: 16px;
                    color: #222221;
                    letter-spacing: 0;
                    text-align: center;
                    line-height: 28px;
                }
            }

            .border-right-yellow {
                border-right: 1px solid #00a550;
            }
        }
    }
}


.modal-subscribed{
    .modal-dialog{
        margin-top: 150px;

        .modal-header{
            border-bottom: 0;
        }

        .modal-footer{
            border-top: 0;
        }

        .modal-body {

            .subscribed-content {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                padding: 30px 30px 40px 30px;
                text-align: center;

                .success-img {
                    width: 70px;
                    height: 70px;
                    border-radius: 100%;
                    border: 3px solid #5bb738;
                    background-color: #5bb738;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin-bottom: 15px;
                    img{
                        width: 30px;
                    }
                }
                h3 {
                    color: #5bb738;
                    font-family: $futura-medium;
                    font-size: 28px;
                    line-height: 36px;
                    margin-bottom: 20px;
                }
            }
        }
    }
}









/*###########################################################################
############################## media query started ###############################
######################################################################################*/


@media (max-width: 767px) {

    // page body for mobile
    
   
    
    // .header{
    //         .navbar {
    //             padding: 15px 0;
    //             background-color: #ffffff;
    //             z-index: 999;
    //         .row-100 {
    //             width: 100%;
    //             margin: 0;
    //             .col-12 {
    //                 padding: 0 15px;
    //             }
    //            .navbar-brand {
    //                     width: 170px;
    //                     height: auto;
    //                     img {
    //                     width: 100%;
    //                     }
    //                 }     
    //              }
    
    //             .collapse {
    //                 padding: 10px 0;
    //                 .navbar-nav { 
    //                     .nav-item  {
    //                         .nav-link {
    //                             color: $textcolor;
    //                             font-size: 16px;
    //                             line-height: 26px;
    //                             padding: 8px 12px;
    //                             font-weight: 500;
    //                             &:hover {
    //                                 color: $hover;
    //                             }
                            
    //                         }
    //                     }
    
    //                     .nav-btn {
    //                         .nav-link {
    //                         background-color: #ED5C37;
    //                         color: #ffffff;
    //                         border-radius: 4px;
    //                         transition: none;
    //                         &:hover {
    //                             background-color: #ffffff;
    //                             color: #ED5C37;
    //                         }
    //                         }
    //                     }
    //                 }
    //             } 
    //         }
    // }
    // home mobile
  
    
    .middle-section {
        min-height: 530px;
        height: calc(100% - 115px);
        .middle-inner{
            display: flex;
            height: 100%;
        }
        .coming-soon-section {
            min-height: 100%;
            .comming-soon-box {
                .logo-img {
                    img {
                        width: 100px;
                        height: auto;
                        display: block;
                    }
                }

                .coming-soon-title { 
                    padding-bottom: 30px;
                    margin-bottom: 40px;
                        h2 {
                        font-size: 36px;
                        line-height: 44px;
                    }
                }
                .coming-soon-content {
                    .form-group {
                        .form-control {
                            height: 70px;
                        }
                      .btn-subscribe {
                          height: 49px;
                          font-size: 14px;
                        min-width: 100px;
                      }

                    }
                }
            }
        }

        // @media screen and (min-height:580px) and (max-height:1000px){
        //     min-height: 530px;
        // }

    }

    .modal-subscribed{
        .modal-dialog{
            margin-top: 100px;
        }
    }
    

    .footer {
       display: flex;
        .footer-copy {
            padding: 15px 0 10px 0;
            width: 100%;
            .footer-content {
                flex-direction: column;

                p {
                    width: 100%;
                    border: 0;
                    font-size: 14px;
                    margin: 0 0 5px 0;
                }

                .border-right-yellow {
                    border: 0;
                }
            }
        }
    }
    // media query end
    }
    


////////////////////////////////////////////////////// I pad ////////////////////////////////////////////////


/* Landscape */
@media only screen 
  and (min-width: 1024px) 
  and (max-height: 1366px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 1.5) {


    
}

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 1) {
    .middle-section {
      
    
    }

}




/* Portrait */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 1) {

 

    .header {
        .navbar {
            background-color: #ffffff;
            z-index: 999;
            .collapse1 {
                display: block;
                .navbar-nav {
                    display: inline-block;
                    margin-left: 0 !important;
                    .nav-item {
                        .nav-link {
                            font-size: 16px;
                            line-height: 26px;
                            padding: 8px 12px;
                            font-weight: 500;
                           
                      
                        }
                    }
                    padding-bottom: 30px;
                }
            }
            // .collapse1:not(.show) {
            //     display: none !important;
            // }
        }
    }
    


.footer {
	.footer-copy {
		.blog-list {
            text-align: center;
            margin-bottom: 10px;
        }
        .copyright-text{
            margin-bottom: 10px;
        }
        .social-media-section{
            text-align: center;
            margin-bottom: 10px;
        }
	}
}





}
/* Landscape */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 1) {

    .header {
        .navbar {
            .collapse1 {
                .navbar-nav {                   
                    .nav-item {
                        .nav-link {
                            font-size: 12px;
                            line-height: 22x;
                            padding: 8px 10px;
                            font-weight: 500;
                        }
                    }
                }
            }
        }
    }


.middle-section {

  
}
    
}





/* ----------- iPad Pro ----------- */
/* Portrait and Landscape */
@media only screen 
  and (min-width: 1024px) 
  and (max-height: 1366px) 
  and (-webkit-min-device-pixel-ratio: 1.5) {


}

/* Portrait */
@media only screen 
  and (min-width: 1024px) 
  and (max-height: 1366px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 1.5) {

    .header {
        .navbar {
            .navbar-toggler {
                top: 15px;
                // display: none;
            }
        }
    }


    
    #cd-shadow-layer { position: fixed; min-height: 100%; width: 100%; top: 0; left: 0; background-color: rgba(0,0,0, 0.5); cursor: pointer; z-index: 2; display: none; z-index: 99999; }

    .sidenav-new-menu { height: 100%; min-height: 830px; width: 0; position: fixed; z-index: 1; right: 0; top: 0; overflow-y: auto; overflow-x: hidden; transition: 0.5s; z-index: 999999; background-color: #ffffff; padding: 20px 0px !important;
    flex-basis: auto;
    justify-content: flex-start;
    align-items: flex-start; }
    .sidenav-new-menu ul li {padding: 5px 20px;}
    .sidenav-new-menu ul li a {white-space: nowrap; font-size: 16px !important;}
    
    .width-menu {width: 40%; display: block !important;}
    .closebtn {display: block; color: #ED5C37; text-decoration: none;}
    .closebtn:hover {display: block; color: #ED5C37; text-decoration: none;}

    .sidenav-new-menu .closebtn {position: absolute;top: 0;right: 25px;font-size: 36px;margin-left: 50px; display: block; }
    #main {transition: margin-left .5s; padding: 16px; }

   
    
}



.sidenav-new-menu .closebtn  {display: none;}

@media (max-width: 767px) {

    #cd-shadow-layer { position: fixed; min-height: 100%; width: 100%; top: 0; left: 0; background-color: rgba(0,0,0, 0.5); cursor: pointer; z-index: 2; display: none; z-index: 99999; }

    .sidenav-new-menu { height: 100%; min-height: 830px; width: 0; position: fixed; z-index: 1; right: 0; top: 0; overflow-y: auto; overflow-x: hidden; transition: 0.5s; z-index: 999999; background-color: #ffffff; padding: 20px 0px !important; 
    flex-basis: auto;
    justify-content: flex-start;
    align-items: flex-start;}
    .sidenav-new-menu ul li {padding: 0 20px;}
    .sidenav-new-menu ul li a {white-space: nowrap; font-size: 16px !important;}
    
    .width-menu {width: 70%; display: block !important;}
    .closebtn {display: block; color: #ED5C37; text-decoration: none;}
    .closebtn:hover {display: block; color: #ED5C37; text-decoration: none;}

    .sidenav-new-menu .closebtn {position: absolute;top: 0;right: 25px;font-size: 36px;margin-left: 50px; display: block; }
    #main {transition: margin-left .5s; padding: 16px;}
      
}

/* Portrait */

@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 1) {

    #cd-shadow-layer { position: fixed; min-height: 100%; width: 100%; top: 0; left: 0; background-color: rgba(0,0,0, 0.5); cursor: pointer; z-index: 2; display: none; z-index: 99999; }

    .sidenav-new-menu { height: 100%; min-height: 830px; width: 0; position: fixed; z-index: 1; right: 0; top: 0; overflow-y: auto; overflow-x: hidden; transition: 0.5s; z-index: 999999; background-color: #ffffff; padding: 20px 0px !important;
    flex-basis: auto;
    justify-content: flex-start;
    align-items: flex-start; }
    .sidenav-new-menu ul li {padding: 0 20px;}
    .sidenav-new-menu ul li a {white-space: nowrap; font-size: 16px !important;}
    
    .width-menu {width: 40%; display: block !important;}
    .closebtn {display: block; color: #ED5C37; text-decoration: none;}
    .closebtn:hover {display: block; color: #ED5C37; text-decoration: none;}

    .sidenav-new-menu .closebtn {position: absolute;top: 0;right: 25px;font-size: 36px;margin-left: 50px; display: block; }
    #main {transition: margin-left .5s; padding: 16px;}
      
}
